{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="bg-{{ label == 'success' ? 'green' : 'red' }}-100 dark:bg-{{ label == 'success' ? 'green' : 'red' }}-800 border-l-4 border-{{ label == 'success' ? 'green' : 'red' }}-500 text-{{ label == 'success' ? 'green' : 'red' }}-700 dark:text-{{ label == 'success' ? 'green' : 'red' }}-200 p-4 mb-4" role="alert">
            <p class="font-bold">{{ label == 'success' ? 'Succès' : 'Erreur' }}</p>
            <p>{{ message }}</p>
        </div>
    {% endfor %}
{% endfor %}
